{{#if news}}
<div class="row">
    <div class="card">
        <img src='http://localhost:3000/{{news.cover}}' class="card-img-top" style="height: 200px; object-fit: contain;"
            alt=''>
        <div class="card-body">
            <h5 class="card-title">{{news.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Автор: </h6>
            <h6 class="card-subtitle mb-2 text-muted">Дата создания:
                {{news.createdAt}}</h6>
            <p class="card-text">{{news.description}}</p>
        </div>
    </div>

    {{#if news.comments.length}}
        {{#each news.comments}}
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Дата создания:
                        {{this.createdAt}}</h6>
                    <p class="card-text">{{this.text}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    {{else}}
    <h1>Комментариев нет.</h1>
    {{/if}}

</div>
{{else}}
<h1>Плохая новость!</h1>
{{/if}}